<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/DustTracer/src/hu/sze/milab/dust/machine/DustMachineBoot.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hu.sze.milab.dust.machine.DustMachineBoot"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="DustTracer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XbrlTracer"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DXmx2048M -DDustBootClass=hu.sze.uni.xbrl.esg.india.XbrlEsgIndiaBoot"/>
</launchConfiguration>
